<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link href="/style.css" rel="stylesheet" type="text/css" />
    <title>Blibli Customer Service Intelligence</title>
</head>

<body>

<div id="root"></div>
<div class="nav-md">
<div class="container body">
    <div class="main_container">
        <div class="col-md-3 left_col">
            <div class="left_col scroll-view">
                <div class="navbar nav_title" style="border: 0;">
                    <a href="index.html" class="site_title"><i class="fa fa-rocket"></i> <span>DETROIT</span></a>
                </div>

                <div class="clearfix"></div>

                <!-- menu profile quick info -->
                <div class="profile">
                    <div class="profile_pic">
                        <img src="images/img.jpg" alt="..." class="img-circle profile_img" />
                    </div>
                    <div class="profile_info">
                        <span>Welcome Admin,</span>
                        <h2>John Doe</h2>
                    </div>
                </div>
                <!-- /menu profile quick info -->

                <br />

                <!-- sidebar menu -->
                <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
                    <div class="menu_section">
                        <h3>General</h3>
                        <ul class="nav side-menu">
                            <li><a href="domino-review-overview.html"><i class="fa fa-clone"></i>Review Overview </a>
                            </li>
                            <li><a href="domino-category-overview.html"><i class="fa fa-list-ol"></i> Category Setting</a>
                            </li>
                            <li><a href="domino-customer-service-overview.html"><i class="fa fa-user"></i> Agent Management</a>
                            </li>
                            <li><a href="domino-reviewer-overview.html"><i class="fa fa-users"></i> User Management</a>
                            </li>
                            <li><a><i class="fa fa-bar-chart-o"></i> Statistics <span class="fa fa-chevron-down"></span></a>
                                <ul class="nav child_menu">
                                    <li><a href="domino-statistic-all.html">Summary All Data</a></li>
                                    <li><a href="domino-statistic-individual.html">Individual Data</a></li>
                                </ul>
                            </li>
                            <li><a><i class="fa fa-cog"></i> Settings</a>
                            </li>
                        </ul>
                    </div>

                </div>
                <!-- /sidebar menu -->
            </div>
        </div>

        <!-- top navigation -->
        <div class="top_nav">
            <div class="nav_menu">
                <nav>
                    <div class="nav toggle">
                        <a id="menu_toggle"><i class="fa fa-bars"></i></a>
                    </div>

                    <ul class="nav navbar-nav navbar-right">
                        <li class="">
                            <a href="javascript:;" class="user-profile dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                                <img src="images/img.jpg" alt="" />John Doe
                                <span class=" fa fa-angle-down"></span>
                            </a>
                            <ul class="dropdown-menu dropdown-usermenu pull-right">
                                <li><a href="login.html"><i class="fa fa-sign-out pull-right"></i> Log Out</a></li>
                            </ul>
                        </li>

                    </ul>
                </nav>
            </div>
        </div>
        <!-- /top navigation -->

        <!-- page content -->
        <div class="right_col" role="main">
            <div class="">
                <div class="page-title">
                    <div class="title_left">
                        <h3>Customer Service Data</h3>
                    </div>

                    <div class="title_right">
                        <div class="col-md-5 col-sm-5 col-xs-12 form-group pull-right top_search">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search person..." />
                                <span class="input-group-btn">
                      <button class="btn btn-default" type="button">Go!</button>
                    </span>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="clearfix"></div>

                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="x_panel">
                            <div class="x_title">
                                <!-- <h2>Basic Tables <small>basic table subtitle</small></h2> -->
                                <div class="nav navbar-left">
                                    <ul class="pagination pagination-sm" style="margin:0">
                                        <li>
                                            <a href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li>
                                            <a href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <p>Showing 10 of 300 Data</p>
                                </div>
                                <div class="nav navbar-right panel_toolbox">
                                    <a href="domino-form-insert-cs.html" class="btn btn-success">
                                        <i class="fa fa-plus-circle"></i>
                                        Add Customer Service
                                    </a>
                                </div>
                                <div class="clearfix"></div>
                            </div>
                            <div class="x_content">
                                <table class="table table-striped">
                                    <thead>
                                    <tr>
                                        <th># <span class="fa fa-sort-amount-asc"></span></th>
                                        <th>Full Name <span class="fa fa-sort-amount-asc"></span></th>
                                        <th>Nickname <span class="fa fa-sort-amount-asc"></span></th>
                                        <th>Email <span class="fa fa-sort-amount-asc"></span></th>
                                        <th>Action</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <th scope="row">1</th>
                                        <td>Budi Sudirman</td>
                                        <td>Otto</td>
                                        <td><a>budi.sudirman@gdn-commerce.com</a></td>
                                        <td>
                                            <a href="domino-form-detail-cs.html" class="btn btn-info btn-xs">Detail</a>
                                            <a href="domino-form-detail-cs.html" class="btn btn-warning btn-xs">Edit</a>
                                            <a href="#" class="btn btn-danger btn-xs">Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">2</th>
                                        <td>Budi Sudirman</td>
                                        <td>Otto</td>
                                        <td><a>budi.sudirman@gdn-commerce.com</a></td>
                                        <td>
                                            <a href="domino-form-detail-cs.html" class="btn btn-info btn-xs">Detail</a>
                                            <a href="domino-form-detail-cs.html" class="btn btn-warning btn-xs">Edit</a>
                                            <a href="#" class="btn btn-danger btn-xs">Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">3</th>
                                        <td>Budi Sudirman</td>
                                        <td>Otto</td>
                                        <td><a>budi.sudirman@gdn-commerce.com</a></td>
                                        <td>
                                            <a href="domino-form-detail-cs.html" class="btn btn-info btn-xs">Detail</a>
                                            <a href="domino-form-detail-cs.html" class="btn btn-warning btn-xs">Edit</a>
                                            <a href="#" class="btn btn-danger btn-xs">Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">4</th>
                                        <td>Budi Sudirman</td>
                                        <td>Otto</td>
                                        <td><a>budi.sudirman@gdn-commerce.com</a></td>
                                        <td>
                                            <a href="domino-form-detail-cs.html" class="btn btn-info btn-xs">Detail</a>
                                            <a href="domino-form-detail-cs.html" class="btn btn-warning btn-xs">Edit</a>
                                            <a href="#" class="btn btn-danger btn-xs">Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">5</th>
                                        <td>Budi Sudirman</td>
                                        <td>Otto</td>
                                        <td><a>budi.sudirman@gdn-commerce.com</a></td>
                                        <td>
                                            <a href="domino-form-detail-cs.html" class="btn btn-info btn-xs">Detail</a>
                                            <a href="domino-form-detail-cs.html" class="btn btn-warning btn-xs">Edit</a>
                                            <a href="#" class="btn btn-danger btn-xs">Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">6</th>
                                        <td>Budi Sudirman</td>
                                        <td>Otto</td>
                                        <td><a>budi.sudirman@gdn-commerce.com</a></td>
                                        <td>
                                            <a href="domino-form-detail-cs.html" class="btn btn-info btn-xs">Detail</a>
                                            <a href="domino-form-detail-cs.html" class="btn btn-warning btn-xs">Edit</a>
                                            <a href="#" class="btn btn-danger btn-xs">Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">7</th>
                                        <td>Budi Sudirman</td>
                                        <td>Otto</td>
                                        <td><a>budi.sudirman@gdn-commerce.com</a></td>
                                        <td>
                                            <a href="domino-form-detail-cs.html" class="btn btn-info btn-xs">Detail</a>
                                            <a href="domino-form-detail-cs.html" class="btn btn-warning btn-xs">Edit</a>
                                            <a href="#" class="btn btn-danger btn-xs">Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">8</th>
                                        <td>Budi Sudirman</td>
                                        <td>Otto</td>
                                        <td><a>budi.sudirman@gdn-commerce.com</a></td>
                                        <td>
                                            <a href="domino-form-detail-cs.html" class="btn btn-info btn-xs">Detail</a>
                                            <a href="domino-form-detail-cs.html" class="btn btn-warning btn-xs">Edit</a>
                                            <a href="#" class="btn btn-danger btn-xs">Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">9</th>
                                        <td>Budi Sudirman</td>
                                        <td>Otto</td>
                                        <td><a>budi.sudirman@gdn-commerce.com</a></td>
                                        <td>
                                            <a href="domino-form-detail-cs.html" class="btn btn-info btn-xs">Detail</a>
                                            <a href="domino-form-detail-cs.html" class="btn btn-warning btn-xs">Edit</a>
                                            <a href="#" class="btn btn-danger btn-xs">Delete</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <th scope="row">10</th>
                                        <td>Budi Sudirman</td>
                                        <td>Otto</td>
                                        <td><a>budi.sudirman@gdn-commerce.com</a></td>
                                        <td>
                                            <a href="domino-form-detail-cs.html" class="btn btn-info btn-xs">Detail</a>
                                            <a href="domino-form-detail-cs.html" class="btn btn-warning btn-xs">Edit</a>
                                            <a href="#" class="btn btn-danger btn-xs">Delete</a>
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>
                                <div class="nav navbar-left">
                                    <ul class="pagination pagination-sm" style="margin:0">
                                        <li>
                                            <a href="#" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                        <li class="active"><a href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#">5</a></li>
                                        <li>
                                            <a href="#" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                    </ul>
                                    <p>Showing 10 of 300 Data</p>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- /page content -->

        <!-- footer content -->
        <footer>
            <div class="pull-right">
                <!-- Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a> -->
            </div>
            <div class="clearfix"></div>
        </footer>
        <!-- /footer content -->
    </div>
</div>
</div>
<script src="/bundle.js"></script>
</body>
</html>
